*{
    padding: 0px;
    margin: 0px;
    
}
button{
  border-radius: 10px;
}


  input {                        /*no muestra el botón de menu */
    display: none;     
  }
  label {                       /*no muestra la etiqueta ☰ */
      display:none;
  }
  ul{                           /*muestra los botones con la disposición horizontal para notebook */
    display: flex;
    justify-content: left;
    margin-top:0;
    padding: 0;
   
  
  }
  
  
  li {                     /*determina la propiedad de cada botón*/
    display: block;
    background: lightgrey;
    margin: 10px;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
    width: 200px;
    text-align: center;
  }
  
  /*Estilo cuando el mouse pasa encima de cada link del menu*/
  li:hover {                        /*determina la propiedad de cada botón cuando se posiciona encima*/
    filter: brightness(110%);
  }
  
  
  
  @media all and (max-width: 700px) {  /*cuando el dispositivo es como máximo de 700px*/
    header{
      background-color:#9A918F;
      padding: 15px;
      display: flex;
      justify-content: space-around;
      flex-direction: row-reverse;
  }
    input:checked  ~ ul{   /*muestra todas el contenido de todas las etiquetas ul */
    display:block;
      }
  
      input:checked ~ label {   /*muestra todo el contenido de todas las etiquetas label */
      background: lightgrey; 
          }
  
      label:hover{                /*cambia el color de ☰ */
      background: grey;
      }
  
    li{                         /*elimina el margen  de cada botón */
         margin: 0px;
         text-align: right;
     }
  
     label {                      /* dibuja la etiqueta ☰  con formato botón */
       box-sizing: border-box;
       display: block;
       border: 1px solid white;
       border-radius: 5px;
       width: 30px;
       height: 30px;
       line-height: 30px;
       font-weight: bold;
       text-align: center;
       user-select: none;
       background-color: beige
  
        }
      
  
    ul{                          /*deja de mostrar el bloque contenedor de los botones horizontales */
       display: none;
       background-color:white;
  
      }
      .dropdown {
         display: inline-block;
        position: relative; 
      }
      .dropdown-content {
         display: none; 
         position: absolute; 
         width: 100px;
        padding: 20px; 
         overflow: auto; 
         color: #FFFFFF; 
      }
       .dropdown:hover .dropdown-content {
        display: block;
        margin: 25px;
      } 
      .dropdown-content a {
         display: block; 
         color:white; 
         padding: 50px;
        margin: 40px; 
        text-decoration: none;
       
      }
      .dropdown-content a:hover {
        color: white;
        background-color: white; 
        margin: 10px;
      }
      .navbar-imagen{
        width: 200px;
        height: 80px;
      }
  
  }
  /* termina responsive para mobile */

  ul li a{
    text-decoration: none;
    color: black;
  }
  ul li a:hover{
    color: red;
  }

/* aca empieza el navbar */
header{
    background-color:#9A918F;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.navbar{
    display: flex;
    justify-content: space-around;
}
.container-fluid{
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}
.navbar-imagen{
    margin: 10px;
   
}
.navbar-boton{
    margin: 10px;
    padding: 40px;
    color: black;
    border-radius: 10px;

}
.navbar-boton-letras{
    color: black;
}
.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100px;
    padding: 20px;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    
    display: block;
    color: white;
    background-color: azure;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }