*{
    padding: 0px;
    margin: 0px;
    font-family: Garamond, serif;
    font-size:x-large;   
}


button{
  border-radius: 10px;
}


input {                        /*no muestra el botón de menu */
display: none;     
}

label {                       /*no muestra la etiqueta ☰ */
    display:none;
}


.ul1{                           /*muestra los botones con la disposición horizontal para notebook */
display: flex;
justify-content: left;
padding: 0;
}


  

.li1 {                     /*determina la propiedad de cada botón*/
display: block;
background: lightgrey;
margin: 10px;
padding: 10px;
list-style: none;
border-bottom: 1px solid grey;
width: 150px;
text-align: center;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
.li1:hover {                        /*determina la propiedad de cada botón cuando se posiciona encima*/
filter: brightness(110%);
}



@media all and (max-width: 700px) {  /*cuando el dispositivo es como máximo de 700px*/
header{
    background-color:#9A918F;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

input:checked  ~ .ul1{   /*muestra todas el contenido de todas las etiquetas ul */
    display:block;
}

input:checked ~ label {   /*muestra todo el contenido de todas las etiquetas label */
    background: lightgrey; 
}

label:hover{                /*cambia el color de ☰ */
background: grey;
}

.li1{                         /*elimina el margen  de cada botón */
    margin: 0px;
    text-align: right;
}

label {                      /* dibuja la etiqueta ☰  con formato botón */
    box-sizing: border-box;
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    background-color: beige;

}


.ul1{                          /*deja de mostrar el bloque contenedor de los botones horizontales */
    display: none;
    background-color:white;
}

.dropdown {
    display: inline-block;
    position: relative; 
}
.dropdown-content {
    display: none; 
    position: absolute; 
    width: 100px;
    padding: 20px; 
    overflow: auto; 
    color: #FFFFFF; 
}

.dropdown:hover .dropdown-content {
    display: block;
    margin: 25px;
} 

.dropdown-content a {
    display: block; 
    color:white; 
    /* padding: 50px; */
    margin: 40px; 
    text-decoration: none;   
}
.dropdown-content a:hover {
    color: white;
    background-color: white; 
    margin: 10px;
}
.navbar-imagen{
    height: 80px;
}

}
  /* termina responsive para mobile */

.ul1 .li1 a{
    text-decoration: none;
    color: black;
}

.ul1 .li1 a:hover{
    color: red;
}

/* aca empieza el navbar */
header{
    background-image: url(../img/Logosaintcoffepng2.jpg); 
    background-position: center;
    background-size: cover; 
    height: 110px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    position: relative;
    
    
  }

.navbar{
    display: flex;
    justify-content: space-around;
}
.container-fluid{
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}
.navbar-imagen{
    margin: 10px;
   
}
.navbar-boton{
    margin: 10px;
    padding: 40px;
    color: black;
    border-radius: 10px;

}
.navbar-boton-letras{
    color: black;
}
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100px;
    padding: 20px;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
    
    display: block;
    color: white;
    background-color: azure;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}
/* aca termina el navbar */


/* aca empieza el body  */



body{
    background-image: url(../img/granosgranos.jpg);
    background-size:150%;
    background-repeat: no-repeat;
}


/*Todo dividido por sections, no hay mucha ciencia*/




.sectionintro{     /*El primer cuadradito, donde informa sobre la pagina*/

    display:flex;
    flex-wrap: wrap ;
    position: relative;
    

    padding:20px;
    padding-left:25px;
    
    
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(245, 245, 245);
    font-size: large;
    
    
    margin: 30px;
   
}

.section{
    
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-y: hidden;
    

    margin-bottom: 30px;
    width: 100%;
    
    

    
    


}


.local{
    display: flex;
    position: relative;
    width: 300px;
    height:350px;
    padding: 20px;




    font-size: larger;
    color: whitesmoke;
    justify-content: center;

    background-color: #2f2f2f;
    border-radius: 20px;
    
    flex-wrap:wrap;
    align-content: center;
}

.granos{
    display: flex;
    width: 300px;
    height: 300px;
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 100%;
    justify-content: center;


}

#footer{
    font-size: 20px;
    background-image: url(../img/cafe-granos.jpg);

    /* Para dejar la imagen de fondo centrada, vertical y
    
    horizontalmente */
    
    background-position: center center;
    
    /* Para que la imagen de fondo no se repita */
    
    background-repeat: no-repeat;
    
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    
    background-attachment: fixed;
    
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    
    background-size: cover;
    
    /* Se muestra un color de fondo mientras se está cargando la imagen
    
    de fondo o si hay problemas para cargarla */
    
   
}
/* aca empieza el footer */

footer{
    background-color: #d9d9d9;
   
}


.footer-medio{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #FFFFFF;
}

.footer-medio-abajo{
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;

}


.footer-boton{
    margin: 10px;
    padding: 30px;
}

.footer-final{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #FFFFFF;

}


@media all and (max-width: 1600px) {
    header{
        background-image: url(../img/logosaintcoffeenotebook.jpg); 
        background-position: center;
        background-size: cover; 
        padding: 15px;
        display: flex;
        justify-content: space-around;
        position: relative;
        
        
    }
  
    .section{
    
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow-y: hidden;
        
        height: 200px;
        margin-bottom: 30px;
        width: 100%;
        
        
    
        
        
    
    
    }
    .local{
        display: flex;
        position: relative;
        width: 300px;
        height:150px;
        padding: 20px;
    
    
        

        font-size: larger;
        color: whitesmoke;
        justify-content: center;
    
        background-color: #2f2f2f;
        border-radius: 20px;
        
        flex-wrap:wrap;
        align-content: center;
    }
}
  



@media (max-width: 700px) { 
    footer{
        background-color: #d9d9d9;
       
    }
    
    
    .footer-medio{
        display: flex;
        justify-content: center;
        font-size: 30px;
        margin: 20px;
    }
    
    .footer-medio-abajo{
        display: flex;
        justify-content: space-between;
        margin: 20px;
        padding: 10px;
    }

    .footer-boton{
        margin: 10px;
        padding: 30px;
    }
    
    .footer-final{
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
    .footer-medio-derecha{
        margin: 20px;
    }
}


@media all and (max-width: 700px){
    header{
        background-image: url(../img/logomovile.jpg); 
        background-position: center;
        background-size: cover; 
        
        padding: 15px;
        display: flex;
        justify-content: space-around;
        position: relative;
        
        
      }




    body{
        background-image: url(../img/granosgranos.jpg);
        background-size:200%;
        background-repeat: repeat;

    }
    
    
    /*Todo dividido por sections, no hay mucha ciencia*/
    
    
    
    
    .sectionintro{     /*El primer cuadradito, donde informa sobre la pagina*/
    
        display:flex;
        flex-wrap: wrap ;
        position: relative;
        
    
        padding:20px;
        padding-left:25px;
        
        
        border-radius: 6px;
        background-color: rgba(0, 0, 0, 0.3);
        color: rgb(245, 245, 245);
        font-size: medium;
        
        top: 30px;
        
    
        margin: 30px;
       
    }
    
    .section{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: auto;
        width:auto;
        
    
        margin-bottom: 30px;
        background-color: rgba(41, 40, 40, 0.3);
        
        overflow-x: auto;
        

        
        
        
        
        
    
    
    }
    
    
    .local{
        display: flex;
        
        width: 300px;
        height:auto;
        padding: 20px;
        
        
       
    
        font-size: larger;
        color: whitesmoke;
        justify-content: center;
    
        background-color: #2f2f2f;
        border-radius: 20px;
        
        flex-wrap:wrap;
        align-content: center;
        left:350px;

        margin-right: 100px;

    }
    
    .granos{
        display: flex;
        position: relative;
        
        width: 200px;
        height: 200px;
        background-color: rgb(255, 255, 255, 0.4);
        border-radius: 100%;
        justify-content: center;
        

        left: 300px;

        
    
    
    }


    


}