*{
    padding: 0px;
    margin: 0px;   
}


button{
  border-radius: 10px;
}


input {                        /*no muestra el botón de menu */
display: none;     
}

label {                       /*no muestra la etiqueta ☰ */
    display:none;
}


.ul1{                           /*muestra los botones con la disposición horizontal para notebook */
    display: flex;
    justify-content: left;
    margin-left:10px;
    padding: 0;
}


  

.li1 {                     /*determina la propiedad de cada botón*/
    display: block;
    background: lightgrey;
    margin: 10px;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
    width: 150px;
    text-align: center;
}

/*Estilo cuando el mouse pasa encima de cada link del menu*/
.li1:hover {                        /*determina la propiedad de cada botón cuando se posiciona encima*/
    filter: brightness(110%);
}



@media  (max-width: 700px) {  /*cuando el dispositivo es como máximo de 700px*/
header{
    background-image: url(../img/cafefondoamarillo2.jpg);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;

}

input:checked  ~ .ul1{   /*muestra todas el contenido de todas las etiquetas ul */
    display:block;
}

input:checked ~ label {   /*muestra todo el contenido de todas las etiquetas label */
    background: lightgrey; 
}

label:hover{                /*cambia el color de ☰ */
background: grey;
}

.li1{                         /*elimina el margen  de cada botón */
    margin: 0px;
    text-align: right;
}

label {                      /* dibuja la etiqueta ☰  con formato botón */
    box-sizing: border-box;
    display: block;
    border: 1px solid white;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    background-color: beige;
    margin-left: 70px;

}


.ul1{                          /*deja de mostrar el bloque contenedor de los botones horizontales */
    display: none;
    background-color:white;
}

.dropdown {
    display: inline-block;
    position: relative; 
}
.dropdown-content {
    display: none; 
    position: absolute; 
    width: 100px;
    padding: 20px; 
    overflow: auto; 
    color: #FFFFFF; 
}

.dropdown:hover .dropdown-content {
    display: block;
    margin: 25px;
} 

.dropdown-content a {
    display: block; 
    color:white; 
    padding: 50px;
    margin: 40px; 
    text-decoration: none;   
}
.dropdown-content a:hover {
    color: white;
    background-color: white; 
    margin: 10px;
}
.navbar-imagen{
    width: 200px;
    height: 80px;
}

}
  /* termina responsive para mobile */

.ul1 .li1 a{
    text-decoration: none;
    color: black;
}

.ul1 .li1 a:hover{
    color: red;
}

/* aca empieza el navbar */

header{
    background-image: url(../img/cafefondoamarillo.jpg);
    padding: 15px;
    display: flex;
    justify-content: space-around;
    height: 150px;
    background-size: cover;
}

.navbar{
    display: flex;
    justify-content: space-around;
}
.container-fluid{
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
}
.navbar-imagen{
    margin: 10px;
   
}
.navbar-boton{
    margin: 10px;
    padding: 40px;
    color: black;
    border-radius: 10px;

}
.navbar-boton-letras{
    color: black;
}
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100px;
    padding: 20px;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
    
    display: block;
    color: white;
    background-color: azure;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}
/* aca termina el navbar */

/* aca empieza el body  */

/* arrcanamos con el section, mirada principal de la pagina */



#section{
  padding: 50px;
  
  background-image: url(../img/cafe-italiano.jpg);
  background-position: center center;

    /* Para que la imagen de fondo no se repita */

    background-repeat: no-repeat;

    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

    background-attachment: fixed;

    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

    background-size: contain;
}

.section-arriba{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    font-size: 30px;
    color: #FFFFFF;
}

.section-medio-izquierda{
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 30px;
    color: #FFFFFF;

}
.section-medio-izquierda-abajo{
    display: flex;
   justify-content: space-around;
    margin: 5px;
    padding: 30px;
    color: #FFFFFF;
    font-size: 21px;
}


.section-boton{
    background-color: #676362;
    display: flex;
    justify-content: space-between;
    /* background-color: #676362; */
    color: white;
    border: 1px solid;
    padding: 20px;
    font-size: 20px;
}

/* aca termina el section de la pagina */

/* aca empieza el article */



/* aca empieza el body  */

/* arrcanamos con el section, mirada principal de la pagina */

#section{
  padding: 50px;
  
  background-image: url(../img/cafe-italiano.jpg);
  background-position: center center;

    /* Para que la imagen de fondo no se repita */

    background-repeat: no-repeat;

    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */

    background-attachment: fixed;

    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */

    background-size: 100%;
}

.section-arriba{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    font-size: 30px;
    color: #FFFFFF;
}

.section-medio-izquierda{
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 30px;
    color: #FFFFFF;
    font-size: larger;

}
.section-medio-izquierda-abajo{
    display: flex;
   justify-content: space-around;
    margin: 5px;
    padding: 30px;
    color: #FFFFFF;

}


.section-boton{
    background-color: #676362;
    display: flex;
    justify-content: space-between;
    /* background-color: #676362; */
    color: white;
    border: 1px solid;
    padding: 20px;
}

/* aca termina el section de la pagina */

/* aca empieza el article */

#article{
    font-size: 20px;
    background-image: url(../img/cafe-italiano.jpg);

    /* Para dejar la imagen de fondo centrada, vertical y
    
    horizontalmente */
    
    background-position: center center;
    
    /* Para que la imagen de fondo no se repita */
    
    background-repeat: no-repeat;
    
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    
    background-attachment: fixed;
    
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    
    background-size: cover;
    
    /* Se muestra un color de fondo mientras se está cargando la imagen
    
    de fondo o si hay problemas para cargarla */

    height: 400px;
    

   
}

.article-medio{
    color: whitesmoke;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 40px;
    font-size: 40px;
    width: fit-content;
    position: relative;
    left: 15%;


}
.botonesarticulo{
 display: flex;
 position: relative;
 left: 44.8%;
 margin-top: 10px;



}

.article-abajo{
    display: flex;
    justify-content: space-evenly;
    color: black;
    padding-right: 60px;
    
}
.article-abajo-izquierda{
    padding-left: 20px;
    padding-right: 20px;
    background-color:rgba(255, 255, 255, 0.5);
    width: fit-content;
    margin-left: 30px;
    border-radius: 5px;
}
.article-abajo-derecha{
    padding-left: 5px;
    padding-right: 5px;
    background-color:rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    
}

.article-abajo-boton{
    display: flex;
    justify-content: center;
    color: #d9d9d9;
    margin: 10px;
    padding: 10px;
   
}
.article-boton{
    margin: 10px;
    padding: 30px;
}









/* aca termino el article */

/* aca empieza el footer */
#footer{
    font-size: 20px;
    background-image: url(../img/cafe-granos.jpg);

    /* Para dejar la imagen de fondo centrada, vertical y
    
    horizontalmente */
    
    background-position: center center;
    
    /* Para que la imagen de fondo no se repita */
    
    background-repeat: no-repeat;
    
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    
    background-attachment: fixed;
    
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    
    background-size: cover;
    
    /* Se muestra un color de fondo mientras se está cargando la imagen
    
    de fondo o si hay problemas para cargarla */
    
    
}


footer{
    background-color: #d9d9d9;
    
}


.footer-medio{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #FFFFFF;
}

.footer-medio-abajo{
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;

}


.footer-boton{
    margin: 10px;
    padding: 30px;
}

.footer-final{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #FFFFFF;

}

@media (max-width: 700px) { 
    footer{
        background-color: #d9d9d9;
       
    }
    
    
    .footer-medio{
        display: flex;
        justify-content: center;
        font-size: 30px;
        margin: 20px;
    }
    
    .footer-medio-abajo{
        display: flex;
        justify-content: space-between;
        margin: 20px;
        padding: 10px;
    }

    .footer-boton{
        margin: 10px;
        padding: 30px;
    }
    
    .footer-final{
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
    .footer-medio-derecha{
        margin: 20px;
    }
}



@media all and (max-width: 700px){
    header{
        background-image: url(../img/cafefondoamarillo2.jpg);
        padding: 15px;
        display: flex;
        justify-content: space-around;
        height: 220px;
        background-size: cover;
    }
    
    .navbar{
        display: flex;
        justify-content: space-around;
    }
    .container-fluid{
        display: flex;
        align-items: center;
        border-radius: 10px;
        margin: 10px;
    }
    .navbar-imagen{
        margin: 10px;
       
    }
    .navbar-boton{
        margin: 10px;
        padding: 40px;
        color: black;
        border-radius: 10px;
    
    }
    .navbar-boton-letras{
        color: black;
    }
    .dropdown {
        display: inline-block;
        position: relative;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        width: 100px;
        padding: 20px;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    }
    .dropdown:hover .dropdown-content {
        
        display: block;
        color: white;
        background-color: azure;
    }
    
    .dropdown-content a {
        display: block;
        color: #000000;
        padding: 5px;
        text-decoration: none;
    }
    
    .dropdown-content a:hover {
        color: #FFFFFF;
        background-color: #00A4BD;
    }
    
    
    
    /* aca empieza el body  */
    
    /* arrcanamos con el section, mirada principal de la pagina */
    
    #section{
        position: relative;
        display: flex;
        width: auto;
        height: auto;


        padding: 50px;
        background-image: none;
    
        background-color: #121111;
        background-position: center center;
    
        /* Para que la imagen de fondo no se repita */
    
        background-repeat: no-repeat;
    
        /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    
        background-attachment: fixed;
    
        /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    
        background-size: contain;

        flex-wrap: wrap;

    }
    
    .section-arriba{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 30px;
        font-size: small;
        color: #FFFFFF;
        width: auto;
        height: auto;
        
    }
    
    .section-medio-izquierda{
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        margin: 5px;
        padding: 30px;
        color: #FFFFFF;
        font-size: medium;
        
    
    }
    .section-medio-izquierda-abajo{
        display: flex;
        justify-content: space-around;
        margin: 5px;
        padding: 30px;
        color: #FFFFFF;
    
    }
    
    
    .section-boton{
        background-color: #676362;
        display: flex;
        justify-content: space-between;
        /* background-color: #676362; */
        color: white;
        border: 1px solid;
        padding: 20px;
    }
    
    /* aca termina el section de la pagina */
    
    /* aca empieza el article */
    
    #article{
        font-size: 20px;
        background-image: url(../img/cafe-italiano.jpg);
    
        /* Para dejar la imagen de fondo centrada, vertical y
        
        horizontalmente */
        
        background-position: center center;
        
        /* Para que la imagen de fondo no se repita */
        
        background-repeat: no-repeat;
        
        /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
        
        background-attachment: fixed;
        
        /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
        
        background-size: cover;
        
        /* Se muestra un color de fondo mientras se está cargando la imagen
        
        de fondo o si hay problemas para cargarla */
    
        height: 400px;
        
    
        
    }
    
    .article-medio{
        color: whitesmoke;
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 40px;
        font-size: 40px;
        width: fit-content;
        position: relative;
        left: 15%;
    
    
    }
    .botonesarticulo{
        display: flex;
        position: relative;
        left: 44.8%;
        margin-top: 10px;
    
    
    
    }
    
    .article-abajo{
        display: flex;
        justify-content: space-evenly;
        color: black;
        padding-right: 60px;
        
    }
    .article-abajo-izquierda{
        padding-left: 20px;
        padding-right: 20px;
        background-color:rgba(255, 255, 255, 0.5);
        width: fit-content;
        margin-left: 30px;
        border-radius: 5px;
    }
    .article-abajo-derecha{
        padding-left: 5px;
        padding-right: 5px;
        background-color:rgba(255, 255, 255, 0.7);
        border-radius: 5px;
        
    }
      
    .article-abajo-boton{
          display: flex;
          justify-content: center;
          color: #d9d9d9;
          margin: 10px;
          padding: 10px;
         
    }
    .article-boton{
          margin: 10px;
          padding: 30px;
    } 
      
      
          
}



