
*{
    padding: 0px;
    margin: 0px;
    
}


/* aca empieza el navbar */
header{
    background-color:#9A918F;
    padding: 15px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.container-fluid{
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    margin: 10px;
}
.navbar-brand{
    margin: 10px;
    font-style: normal;
    color: black;
}

/* aca termina el navbar */


/* aca empieza el body  */

/* Arrancamos con el section, en total 3, cada uno contendra contenedores .section para la info*/



.section1{
    display: flexbox;
    background-color: #ACA5A4;
    padding: 50px;
    background-image: url(../img/cofee2.png);
    background-size:contain;
    
}
.section3{
    display: flexbox;
    background-color: #ACA5A4;
    padding: 50px;
    background-image: url(../img/cofee2.png);
    background-size:37%;
    
}

.section2{
    display: flexbox;
    background-color: #676362;
    padding: 50px;
    background-image: url(../img/cofee.png);
    background-size: contain;
}



.envoltorio{
    display:inline-flex;

}


.section-mitad-derecha{
    display: flex;
    flex-direction:column;
    text-align: center;
    margin: 4px;
}

.titulo{
    margin: 4px;
    padding: 15px;
    font-size: x-large;
    display:flexbox;
    background-color: #d9d9d9;
    border-radius: 10px;
    
}
.pasoapaso{
    margin: 4px;
    padding:5%;
    font-size:larger;
    display: flexbox;
    text-align: left;
    background-color: #d9d9d9;
    border-radius: 10px;

}

.section-mitad-izquierda{
    margin: 4px;
    display: flex;
    flex-direction:column;
    background-color: black;
    width: 800px;
    height: 350px;
}

.section-abajo{
    margin:4px;
    padding: 2%;
    display: flex;
    background-color: #d9d9d9;
    text-align: justify;
    font-size: large;
    border-radius: 10px;

}





/* aca empieza el footer */

footer{
    background-color: #d9d9d9;
   
}


.footer-medio{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.footer-medio-abajo{
    display: flex;
    justify-content: space-around;
}


.footer-boton{
    margin: 10px;
    padding: 30px;
}

.footer-final{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
