*{
    padding: 0px;
    margin: 0px;
}

/* aca empieza el navbar */
header{
    background-color:#9A918F;
    padding: 15px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.container-fluid{
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    margin: 10px;
}
.navbar-brand{
    margin: 10px;
    font-style: normal;
    color: black;
}

/* aca termina el navbar */

/* aca empieza el body  */

/* arrcanamos con el section, mirada principal de la pagina */

#section{
    background-color: #d9d9d9;
    padding: 50px;
}

.section-arriba{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

.section-medio-izquierda{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 30px;
    
}
.section-medio-izquierda-abajo{
    display: flex;
   justify-content: space-between;
    margin: 5px;
    padding: 30px;
}

.section-interno-derecha{
    display: flex;
    justify-content: space-between;
    background-color: #676362;
    color: white;
    border: 1px solid;
    padding: 20px;
   
}

/* aca termina el section de la pagina */

#article{
    background-color: #676362;
    font-size: 20px;
}

.article-medio{
    color: #d9d9d9;
    display: flex;
    text-align: center;
    justify-content: center;
   padding: 40px;
}

.article-abajo{
    display: flex;
    justify-content: space-between;
    color: #d9d9d9;
    padding-right: 60px;
}
.article-abajo-izquierda{
    padding-left: 60px;
}